################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/farmLogin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/config/applicationhost.config
/.vs/farmLogin/v14/.suo
/farmLogin/bin/farmLogin.dll
/farmLogin/bin/farmLogin.pdb
/farmLogin/obj/Debug/farmLogin.csproj.FileListAbsolute.txt
/farmLogin/obj/Debug/farmLogin.csprojResolveAssemblyReference.cache
/farmLogin/obj/Debug/farmLogin.dll
/farmLogin/obj/Debug/farmLogin.pdb
