
@{
    ViewBag.Title = "Forgot Password";
}

<style>
    .navbar {
        margin-top: -800px;
        margin-bottom: 800px;
    }

    body {
        background-color: #3594C4;
        overflow: hidden;
    }

    .panel {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    }

    #PanelContent {
        color: black;
        margin-left: 60px;
    }

    .panel:hover span {
        color: #1b8bc6;
        transition: 0.5s;
    }

    .panel-success {
        color: green;
    }

    .btn {
        font-weight: 600;
        background-color: #47A447;
        font-family: Arial;
        font-size: 14px;
        display: inline-block;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        width: 100px;
        border-radius: 5%;
    }

        .btn:hover {
            background-color: #25820F;
            transition: 0.5s;
        }

    #btnBack {
        left: -10px;
        margin-bottom: 1000px;
    }

    #btnSave {
        right: -10px;
    }

    .panel > .panel-heading {
        background-image: none;
        background-color: #d8d8d8;
    }
</style>



@using (Html.BeginForm())
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" style="color:black;"><b><span class="glyphicon glyphicon-wrench"></span> &nbsp; Forgot Password</b></h3>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="row" id="PanelContent">
                    <div class="col-xs-6 col-md-8">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-2" style="margin-top: 30px;">Email</label>
                                @Html.TextBox("Email", "", new { @class = "form-control", @style = "margin-top: 30px;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-success">
                @ViewBag.Message
            </div>
        </div>
    </div>

    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-success" type="submit" id="btnSave">
                <span class="glyphicon glyphicon-envelope"></span>
                Submit
            </button>
        </div>
    </div>
}

<div class="row">

    <div class="col-xs-6 col-md-4">
        @using (Html.BeginForm("Login", "User", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="col-xs-6 col-md-4">
                <div class=input-group>
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit" id="btnBack">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@section Scripts {
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        @if(TempData["yay"]!= null) { <text>
        $(window).load(function () {
            $(document).ready(function () {
                swal({
                    icon: "success",
                    title: "Success!",
                    text: "Your password reset link has successfully sent to your email address!",
                    type: "warning"
                }).then(function () {
                    window.location = "/User/Login";
                });
            });
        }); </text>
}
</script>
<script type="text/javascript">
        @if(TempData["fail"]!= null) { <text>
        $(window).load(function () {
            $(document).ready(function () {
                swal({
                    icon: "error",
                    title: "Error!",
                    text: "Email could not be found, please provide a valid email address.",
                    type: "warning"
                }).then(function () {
                    window.location = "/User/ForgotPassword";
                });
            });
        }); </text>
}
</script>
}