@{
    ViewBag.Title = "Report - Action Page";
}

<style>
    .card {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        min-width: 220px;
        min-height: 230px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 5%;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

    .btn {
        margin-top: 35px !important;
        font-family: Arial;
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        background-color: #52963f;
        width: 150px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }


        .btn,
        .btn::after {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

            .btn::before,
            .btn::after {
                background: #0b689e;
                border-radius: 5%;
                content: '';
                position: absolute;
                z-index: -1;
            }

            .btn:after {
                height: 100%;
                left: 15px;
                top: 0;
                width: 0;
            }

            .btn:hover:after {
                width: 90%;
            }

            .btn:hover {
                background-color: #24820e;
            }


    body {
        background-color: #87CEFA;
    }


    .card:hover img {
        transform: scale(1.2);
        -webkit-transition: transform 0.20s ease-in-out;
        -moz-transition: transform 0.20s ease-in-out;
    }

    .btn-success {
        min-width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    #clockCard {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        min-width: 200px;
        min-height: 200px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 5%;
        justify-content: center;
        margin-bottom: 20px;
    }

    #blankBtn {
        background-color: transparent;
        border-color: transparent;
        box-shadow: 0 3px 6px #fff;
    }
</style>



<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" id="Image" src="~/Images/9. Harvest Report 3D.png" alt="Harvest Report" href="">
            <div class="card-body">
                <button type="button" class="btn btn-success btn-lg" href="">
                    Harvest Report
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;" id="cardRight">
            <img class="card-img-top" src="~/Images/9. Field Historty Reports.png" alt="Field History Reports" href="">
            <div class="card-body">
                <button type="button" class="btn btn-success btn-lg" href="">
                    Field History Report
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;" id="cardRight">
            <img class="card-img-top" src="~/Images/9. Yield and Rainfall Report.png" alt="Yield and Rainfall Report" href="">
            <div class="card-body">
                <a href='@Url.Action("LandRainfall", "Report")' class="btn btn-success btn-lg">Generate Yield and Rainfall Report</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/9. Biological Disaster Report.png" alt="Biological Disaster Report" href="">
            <div class="card-body">
                <button type="button" class="btn btn-success btn-lg" href="">
                    Biological Disaster Report
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/9. Sale Report.png" alt="Sales Report" href="">
            <div class="card-body">
                <button type="button" class="btn btn-success btn-lg" href="">
                    Sales Report
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;" id="Attendance">
            <img class="card-img-top" src="~/Images/9. Farm Worker Attendance Report.png" alt="Farm Worker Attendance Report" href="">
            <div class="card-body">
                <button type="button" class="btn btn-success btn-lg" href="">
                    Worker Attendance Report
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;" id="cardRight">
            <img class="card-img-top" src="~/Images/9. Vehicle Service Report.png" alt="Vehicle Service" href="">
            <div class="card-body">
                <button type="button" class="btn btn-success btn-lg" href="">
                    Vehicle Service Report
                </button>
            </div>
        </div>
    </div>
</div>

